.Build > .Options {
    background-color: #F5F5F5;
    /* width: 100%; */
}

.Build > .Options > .Image{
    background-color: #D9D9D9;
    width: 80%;
    height: 701px;
    margin: auto;
}

.Build > .Options > .Image >.Content{
    /* https://stackoverflow.com/questions/8403882/css-text-align-bottom-of-container */
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    display: block;   
}

.Build > .Options > .Bottom-Text >.Note{
    color: rgba(24, 25, 31, 0.5);
}

.Build>.Testing {
    background-color: rgba(244,81, 30, 0.07);
    display: flex;
}

.Build>.Testing >.Content{
    display: flex;
}

.Build>.Testing >.Content >.Left{
    width: 50%;
    /* text-align: left; */
}

.Build>.Testing >.Content >.Right{
    max-width: 50%;
    text-align: right;
}

.Build>.Benefits>.Content{
    display: flex;
    align-items: center;
}



.Build>.Contact{
    background-image: linear-gradient(230deg, 
    rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url("../Assets/BuildContactBG.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100vw 100vh;
    /* min-width: 1440px; */
    /* min-width: 100%; */
    max-width: 100%;
    /* max-height: 1187px; */
    color: white;

}


.Square>h1{
    margin-top: 20px;
    font-size: 26px;
}