@media (width <= 1700px) {

}
.Home> .Assessment {
    /* border-style: solid; */
    background-color: white;
    display: flex;
    /* width: 100%; */
    /* height: 801px; */
    /* display: flex;
    justify-content: center; */
}

.Home>.Assessment>.Right{}

.Home> .Assessment >.Content>.Left>h1{
    margin-bottom: 70px;
}

.Home> .Assessment >.Content>.Left>h1>hr{
    max-width: 336px;
    text-align: left;
}

.Home> .Assessment  > .Content{
    /* width: 1300px; */
    display: flex;
    /* margin: auto; */

}
.Home> .Assessment  > .Content>.Left{
    align-content: left;
    width: 50%;
    min-width: 128px;
    max-height: 909px;
}
.Home> .Assessment >.Content> .Left>ul{
    font-size: 26px;
}

.Home> .Assessment  > .Content>.Right{
    align-content: right;
    width: 50%;
    min-width: 128px;
    text-align: right;
}

.Home> .Donate {
    min-height: 360px;
    display: block;
    background-color: rgba(244,81, 30, .07);
    justify-content: center;
    /* padding: 50px; */
}

/* .Home> .Donate >.Content{
    text-align: center;
    min-width: 854px;
} */

/* .Home> .Donate >.Content>.OrangeButton{
    margin: 50px;
} */
/* 
.Home> .Donate >.Content{
    margin: auto;
} */

.Home>.Invest {
    display: flex;
    justify-content: center;
    /* padding: 50px; */
    
    min-height: 100%;
    min-height: 954px;
    background-color: #F2F2F1;
    text-align: left;
}

/* .Home>.Invest>.Content{
    width: 1300px;
    min-width: 1300px;
}
.Home>.Invest >.Content>.Left{
    width: 50%;
}
.Home>.Invest >.Content>.Right{
    width: 50%;
    
} */

.Home>.Video {
    background-color: rgba(244,81, 30, .07);
    display: flex;
    text-align: left;
    min-height: 596px;
    padding: 0;

}


.Home>.Video >.Quote  >.Text, .Home>.Video>.Quote>.Quote>.Text{
    font-size: 21px;
}

.Home>.Video>.Quote>.Quote>.Text{
    width: 100%;
}

.Home>.Video >.Quote >.Profile{
    width: 20%;
    display: flex;
    margin: 0;
}

.Home>.Video >.Quote >.Profile>.Image{
    margin-right: 10px;
}

/* .Contact>.Quote{
    max-width: 100%;
} */

.GridImage{
    background-image: url("../Assets/GridImage1.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    min-height: 334px;
}


@media (width <= 380px) {
    
}

/* .item2{
    bottom: 0px;
    margin-top: 50px;
} */