.Footer{
    font-size: 14px;
    /* width: 100%; */
}

.Footer.p{
    font-size: 14px;
}

.Footer>.Bottom{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    
    font-size: 14px;
    margin: auto;
    
}

.Footer-UI>.Bottom>.GridPages{
    background-color: pink;
    width: 100%;
}

.Footer>.Bottom>.Right{
    text-align: right;
}

.Footer-UI{
    border-top: solid;
    border-color: #F4511E;
    /* display: flex; */
}
.Middle{
    display: flex;
}

.Middle>.Left{
    width: 50%;
}

/* .Footer-Pages{
    background-color: pink;
} */



.Footer-Pages>li{
    display: inline-block;
    /* background-color: yellow; */
    margin-right: 20px;    
}

.Footer-UI>.Bottom{
    min-width: 1074px;
    display: flex;
}

.Bottom>.Copyright{
    color: #0A142F;
}

.Icons{
    color: #F4511E;
}



.Social-Media{
    display: flex;
    justify-content: space-between;
}

.Social-Media>.Text{
    /* min-width: 200 */
    /* background-color: pink; */
    width: 20%;
}

.Contact-Info{
    padding-bottom: 20px;
}

.bottom-pages{
    font-size: 14px;
}