.App {
  text-align: center;
}

h2 {
  padding: 0;
  margin: 0;
}

h3 {
  color: #F2F2F2;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.ServiceSelect {
  color: #160449;
}

.ServiceNote {
  color: #A52A2A;
}