.App {
  text-align: center;
}

h2 {
  color: #160449;
  padding: 0;
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h3 {
  color: #F2F2F2;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.ServiceSelect {
  color: #160449;
}

.ServiceNote {
  color: #A52A2A;
}